.btn{
    background: #cea135;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #cea135;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn:active{
    /* active is refering to when the user presses on the button */
    box-shadow: 6px 6px 17px -1px rgba(0,0,0,0.45);
}

.centered-btn-wrapper{
    display: flex;
    justify-content: center;
}